.chips-container{
    display: grid;
    justify-content: center;
}

.chips-container>ul{
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    max-width: 40%;
    height: 100%;
    width: 100%;
    /* grid-template-columns: auto auto auto auto; */
}
