.art {
    padding: 15px;
}

.art h1 {
    font-size: 42px;
}

.title {
    height: 96px;
    font-size: 42px;
    align-items: center;
    display: flex;
    background-color: white;

    justify-content: space-between;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.title-index {
    position: sticky;
    top: 13%;
    height: 96px;
    width: 100%;
    transition: all 0.3s ease;
    background-color: white;
    margin-top: 2%
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.art h2 {
    font-size: 32px;
}

.auther {
    display: flex;
    margin: 1%;
    gap: 2%;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.art-container {
    margin: 0 15%;
}

.body-paragraph {
    font-size: 22px !important;
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif !important;
    padding: 8px;
    letter-spacing: -0.0003em;
    line-height: 40px;
    margin-top: 1.56em !important;
    word-break: break-word;
    color: #242424;
}

.art-actions {
    background-color: #135e76;
    width: fit-content;
    min-width: 100px;
    border-radius: 15px;
    position: relative;
    right: 20%;
    height: 45px;
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.art-actions>* {
    cursor: pointer;
}