.cat {
    background-color: #2d545e;
    overflow-y: hidden;
    height: 99%;
    padding: 15px;
}

.cat>h2 {
    color: white;
}

.cat>p {
    color: white;
}

.cards-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5.5%;
    height: 76%;
}

.cards-container>div {
    cursor: pointer;
    max-height: 250px;
}

.cards-container>div:hover {
    box-shadow: 0px 4px 6px 0px white;
    background-color: lightgrey;
}