.upload-arti {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 45%;
    top: 39%;
    height: 14%;
    cursor: pointer;
    border-radius: 5%;
    width: 13%;
}

.upload-btn {
    border: none;
    outline: none;
    background-color: inherit;
    color:black;
}