.editor-menu {
    width: 100%;
    display: flex;
    flex: 1;
    margin: 10% auto;
}

.steps-btns {
    position: fixed;
    top: 50%;
    width: fit-content;
    width: 56%;
}

.editor-container {
    border: 1.5px solid lightgrey;
    padding: 15px;
    width: 100%;
    border-radius: 8px;

}